.auth-header {
  width: 100%;
  padding: 50px 0; }

  .auth-header .logo {
    width: 300px;
    display: block;
    margin: auto; }

.login-form-container,
.signup-form-container {
  width: 100%; }

.auth-form {
  margin: auto;
  width: 100%;
  align-self: center;
  max-width: 800px; }

.auth-link {
  margin-left: 5px; }

.big-input    {
  display: block;
    width: 300px;
    height: 200px;
      margin-bottom: 4%;
      margin-top: 2%

}

.small-input    {
  display: block;
    width: 150px;
    height:auto;
    margin-bottom: 4%;

}
